<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="dao.backend.BackendUser.BackendUserMapper">
 	<!--根据用户名和密码查询用户  -->
 	<select id="getBackendUserByNameANDPwd" resultType="BackendUser">
 		SELECT * FROM backend_user WHERE userCode=#{userCode}
 	</select>
 </mapper>